__pycache__/
*.pyc
.env
**/.env
.local/
.config/
**/node_modules/
**/.next/
**/dist/
**/build/
!projects/GodMode/dist/
!projects/GodMode/dist/docker/
!projects/GodMode/dist/docker/**
projects/DocumentAnalyzer2/attached_assets/
projects/DocumentAnalyzer2/reports/
projects/DocumentAnalyzer2/uploads/
projects/Market/.env.txt
projects/GodMode/dist/docker/.env
